.Rproj.user
.Rhistory
.RData
.Ruserdata
BARBARIT.html
BARBARIT_files
DUYCK.html
DUYCK_files
Final-Project.html
Final-Project_files
.DS_Store
.RDataTmp
Data cleaning.html
Data cleaning_files
Final-Project.log
Final-Project.tex
